<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <br>
    Regards, Phonify Store © 2022
    <br>
    <br>
    <%= image_tag attachments['logo.svg'].url, alt:'Phonify-logo', width: 200 %>
  </body>
</html>
